# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/assets/styles/style.css
src/assets/styles/style.css.map

src/assets/styles/about-me.css
src/assets/styles/about-me.css.map

src/assets/styles/privacy-policy.css
src/assets/styles/privacy-policy.css.map

src/assets/styles/offer.css
src/assets/styles/offer.css.map
