node_modules
dist
dist-ssr

assets/styles/style.css
assets/styles/style.css.map

assets/styles/about-me.css
assets/styles/about-me.css.map

assets/styles/privacy-policy.css
assets/styles/privacy-policy.css.map

assets/styles/offer.css
assets/styles/offer.css.map