@use "vars" as *;

// ============ Общие стили =========== //
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;

  box-sizing: border-box;
}

body {
  height: 100%;

  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

//==================Заголовки====================//

.page-title {
  font-style: italic;
  font-weight: 400;
  font-size: 2.5em; // 40px
  color: $page-title-color;
}

.title {
  font-style: italic;
  font-weight: 700;
  font-size: 2.25em; // 36px
}

// это заголовки: "Здоровая спина» — заботьтесь о своем здоровье и комфорте каждый день" и "Растяжка в йоге — путь к гибкости и гармонии"
.subtitle {
  font-style: italic;
  font-weight: 700;
  font-size: 2.25em; // 32px
  letter-spacing: 0.02em;
}

// Шаблон для ограничения контента, добавлять к стилям командой @extend %container;

%container {
  max-width: 1247px; // 1227px
  margin: 0 auto;
  padding: 0 20px;
}