//======== Цвета ========//

$black: #000;
$white: #fff;

$btn-color: #8e88fe;
$btn-back-background: #b2aafa;
$btn-about-me: #d9d9d9;

$page-title-color: rgba(7, 36, 43, 0.9);
$hero-text-color-one: rgba(7, 36, 43, 0.74);
$hero-text-color-two: rgba(7, 36, 43, 0.75);

//======== Шрифты и размеры ========//

$font-family: "Inria Serif", sans-serif;
$second-family: "Inter", sans-serif;
$third-family: "Island Moments", sans-serif;

$font-style: italic;
$font-weight: 400;
$font-size: 2rem; // 32px

//======== Радиальный градиентный фон для секций ========//

$background-gradient: conic-gradient(from 180deg at 50% 50%, rgba(145, 143, 166, 0.85) -46.73deg, rgba(190, 187, 217, 0.9) 57.12deg, rgb(255, 255, 255) 141.92deg, rgba(145, 143, 166, 0.85) 313.27deg, rgba(190, 187, 217, 0.9) 417.12deg);

$background-gradient-reviews: radial-gradient(50% 50% at 50% 50%, #FCFCFC 0%, #D2D2D2 100%);