//======== Цвета ========//

$black: #000;
$white: #fff;
$background-color: #8e88fe;
$page-title-color: #07242be6;

//======== Шрифты и размеры ========//

$font-family: "Inria Serif", sans-serif;
$second-family: "Inter", sans-serif;
$third-family: "Island Moments", sans-serif;

$font-style: italic;
$font-weight: 400;
$font-size: 2em; // 32px