.section-benefits {
  padding: 30px;
  font-style: italic;
  max-width: 1440px;
  margin: 0 auto;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(145, 143, 166, 0.85) -46.73deg,
    rgba(190, 187, 217, 0.9) 57.12deg,
    #ffffff 141.92deg,
    rgba(145, 143, 166, 0.85) 313.27deg,
    rgba(190, 187, 217, 0.9) 417.12deg
  );
}
.section-benefits__header {
  display: flex;
  justify-content: space-between;
}
.section-benefits__title {
  margin-left: 100px;
  font-size: 2.25rem;
}
.section-benefits__subtitle {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: italic;
  font-size: clamp(20px, 3vw, 27px);
  line-height: 100%;
  letter-spacing: 0%;
  margin: 10px 0 0 0;
  max-width: 655px;
}
.benefits-list {
  list-style-type: disc;
}
.section-benefits-text {
  max-width: 640px;
}
.section-benefits__content {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 2rem;
}
.section-benefits__main {
  margin-top: 2rem;
}
.section-benefits__gallery {
  display: flex;
  justify-content: space-around;
  padding-left: 3rem;
  margin-top: 3rem;
}
