@use "../vars" as *;

.section-benefits {
  background: $background-gradient;
}
.section-benefits-wrapper {
  padding: 30px;
  font-style: italic;
  max-width: 1440px;
  margin: 0 auto;
}
.section-benefits__header {
  display: flex;
  justify-content: space-between;
}
.section-benefits__title {
  margin-left: 100px;
  font-size: 2.25rem;
}
.section-benefits__subtitle {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: italic;
  font-size: clamp(20px, 3vw, 27px);
  line-height: 100%;
  letter-spacing: 0%;
  margin: 10px 0 0 0;
  max-width: 655px;
}
.benefits-list {
  list-style-type: disc;
}
.section-benefits-text {
  max-width: 640px;
}
.section-benefits__content {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 2rem;
}
.section-benefits__main {
  margin-top: 2rem;
}
.section-benefits__gallery {
  display: flex;
  justify-content: space-around;
  padding-left: 3rem;
  margin-top: 3rem;
}
