@use '../vars' as *;
@use '../templates' as *;

.about-me {
    @extend %background;
    padding: 20px 40px;
}

.about-me__content {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me__main-content {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-bottom: -50px;
}

.about-me__photo-and-text {
    display: flex;
    justify-content: center;
    gap: 40px;
    position: relative;
    z-index: 1;
}

.about-me__photo {
    flex: 1;
    margin-top: 10px;
    position: relative;
    margin-left: 0;
    z-index: 0;
    margin-bottom: -120px;
}

.about-me__img {
    width: 750px;
    height: 950px;
    display: block;
    position: relative;
    margin-left: 7px;
}

.about-me__text {
    flex: 1;
    margin-left: -120px;
    margin-top: 45px;
    position: relative;
    z-index: 3;
}

.about-me__paragraph {
    font-family: $font-family;
    color: $page-title-color;
    font-size: 1.5rem; 
    font-weight: 400;
    font-style: italic;
    letter-spacing: 2px;
    max-width: 100%;
    line-height: 1;
    margin: 4px 0;
}

.about-me__diplomas {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    z-index: 2;
    position: relative;
    margin-top: -180px;
    max-width: 1100px;
    padding: 0 10px;
    gap: 80px;
}

.about-me__diploma {
    width: 234px;
    height: 228px;
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    }
}

.about-me__button {
    margin-top: 80px;
    text-align: center;
    position: relative;
    z-index: 4;
    margin-bottom: 10px;
}

.about-me__button-back {
    text-decoration: none;
    display: inline-block;
    background-color: $btn-back-background;
    color: $black;
    font-family: $third-family;
    letter-spacing: 2px;
    line-height: 100%;
    font-size: 4rem; 
    border-radius: 25px;
    border: none;
    padding: 8px 15px;
    gap: 10px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s;

    &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(90, 45, 154, 0.2);
    }

    &:active {
    transform: scale(0.98);
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;

    &.show {
    display: flex;
    }
}

.modal__content {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: $white;
    font-size: 2.5rem; 
    font-weight: bold;
    cursor: pointer;
    z-index: 101;

    &:hover {
    color: #bbb;
    }
}

    @media (max-width: 1315px) {
        .about-me__paragraph {
        font-size: 1.25rem;
        }
    
        .about-me__diplomas {
        margin-top: -180px;
        }
    }


    @media (max-width: 1140px) {
        .about-me__paragraph {
        font-size: 1.15rem;
        }
        .about-me__img {
            width: 100%;
            height: auto;
        }
        .about-me__diplomas {
            margin-top: 30px;
        }
        }

@media (max-width: 1024px) {
    .about-me__photo-and-text {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    }

    .about-me__img {
    width: 100%;
    height: auto;
    }

    .about-me__text {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
    }

    .about-me__paragraph {
    font-size: 1.25rem; 
    }

    .about-me__diplomas {
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    }

    .about-me__diploma {
    width: 214px;
    height: 208px;
    }

    .about-me__button-back {
    padding: 6px 10px;
    }
}

@media (max-width: 768px) {
    .about-me__photo-and-text {
    flex-direction: column;
    }

    .about-me {
    padding: 15px 20px;
    }

    .about-me__photo {
    margin-left: 100px;
    }

    .about-me__img {
    width: 100%;
    max-width: 500px;
    height: auto;
    }

    .about-me__text {
    margin-top: -80px;
    }

    .about-me__paragraph {
    font-size: 1.125rem; 
    line-height: 1.4;
    letter-spacing: 1px;
    }

    .about-me__diplomas {
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    }

    .about-me__diploma {
    width: 200px;
    height: auto;
    }

    .about-me__button-back {
    font-size: 3rem; 
    padding: 7px 11px;
    }
}

@media (max-width: 500px) {
    .about-me__photo-and-text {
    flex-direction: column;
    }

    .about-me__photo {
    margin-left: 40px;
    }

    .about-me__img {
    max-width: 300px;
    height: auto;
    }

    .about-me__text {
    margin-top: -15px;
    }

    .about-me__paragraph {
    font-size: 0.75rem; 
    }

    .about-me__diplomas {
    margin-top: 50px;
    }

    .about-me__diploma {
    width: 140px;
    }

    .about-me__button-back {
    font-size: 2rem; 
    padding: 5px 7px;
    border-radius: 15px;
    }

    .modal__close {
    font-size: 1.875rem; 
    top: 10px;
    right: 15px;
    }
}