@use "../vars" as *;
@use "../templates" as *;

.section-practices {
  background: $background-gradient;

  &__title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
  }

  &-wrapper {
    padding: 30px;
    font-style: italic;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.practices {
  &-subtitle {
    font-weight: 400;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;

    @media (max-width: 1340px) {
      align-items: center;
      gap: 20px;
    }

    @media (max-width: 723px) {
      justify-content: center;
    }
  }

  &-card {
    padding: 20px;
    height: 450px;
    width: 320px;
    border-radius: 24px;
    background-color: $white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-6px);
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12),
        0px 12px 32px rgba(0, 0, 0, 0.2), 0 0 16px #8e88fe;
    }

    &:last-child {
      text-align: center;
    }
  }

  &-price {
    font-family: $second-family;
    font-size: 52px;
    font-weight: 400;
    font-style: normal;
  }

  &-card-name {
    font-family: $second-family;
    font-size: 24px;
    font-style: normal;
    font-weight: $font-weight;
  }

  &-text {
    max-width: 900px;
    margin: 60px auto;
  }
}

.more-btn {
  cursor: pointer;
  background-color: $btn-color;
  color: $white;
  padding: 5px 24px;
  border: none;
  border-radius: 16px;
  font-size: 30px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background: #a49fff;
    box-shadow: 0 0 12px #8e88fe, 0 4px 20px rgba(0, 0, 0, 0.1);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  &.hidden {
    display: none;
  }

  &-content {
    overflow-y: auto;
    margin: 50px auto;
    background-color: #fff;
    color: #000;
    padding: 30px;
    border-radius: 12px;
    height: 90%;
    width: 90%;
    max-width: 1440px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1210px) {
      overflow-y: auto;
    }
  }

  &-close {
    position: absolute;
    top: 16px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: #000;
    }
  }

  &-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;

    @media (max-width: 800px) {
      .modal-image {
        display: none;
      }
    }
  }

  &-image {
    max-width: 450px;
    max-height: 750px;
    object-fit: cover;
    width: 100%;
    height: auto;
    display: block;
    @media (max-width: 950px) {
      max-width: 350px;
      max-height: 650px;
    }
  }

  &-description {
    max-width: 800px;
  }

  &-price {
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    //align-items: baseline;
  }
}

.buy-btn {
  background-color: $btn-color;
  color: $white;
  border: none;
  padding: 5px 24px;
  border-radius: 16px;
  align-items: center;
  font-size: 31px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 275px;
  height: 75px;
  font-family: $second-family;

  &:hover {
    background-color: #6f6afe;
  }
}

.price {
  font-family: $font-family;
  font-size: $font-size;
}

.p-2 {
  font-weight: 700;
  margin: 20px 0;
}

.practice-item2 {
  max-width: 600px;
}

.practice-item3 {
  max-width: 580px;
}

.practice-item4 {
  max-width: 625px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
