@use "vars" as *;

// ============ Общие стили =========== //
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  //outline: palevioletred solid 1px;
}

html {
  font-size: 16px;
  height: 100%;

  box-sizing: border-box;

  scroll-behavior: smooth;
}

body {
  height: 100%;

  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $black;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  // контент занимает всё доступное пространство
  flex: 1 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

//==================Заголовки====================//

.hero__title {
  font-style: italic;
  font-weight: 400;
  font-size: 2.5rem; // 40px
  color: $page-title-color;
}

.title {
  font-style: italic;
  font-weight: 700;
  font-size: 2.25rem; // 36px
}

// это заголовки: "Здоровая спина» — заботьтесь о своем здоровье и комфорте каждый день" и "Растяжка в йоге — путь к гибкости и гармонии"
.subtitle {
  font-style: italic;
  font-weight: 700;
  font-size: 2rem; // 32px
  letter-spacing: 0.02em;
}

//================== Шаблоны ====================//

// Шаблон для ограничения контента, добавлять к стилям командой @extend %container;

%container {
  max-width: 1460px; // 1440px
  margin: 0 auto;
  padding: 0 20px;
}

// Шаблон фона для секций сайта

%background {
  background: $background-gradient;
}

//================== Кнопки ====================//

.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: all 0.3s ease;
  cursor: pointer;

  border: none;
  border-radius: 15px;
  background: none;
  padding: 0;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);
  max-height: 50px;
  width: auto;
  z-index: 900;

  opacity: 0;
  visibility: hidden;

  @media screen and (max-width: 425px) {
    height: 40px;
  }
}

.scroll-top.show {
  opacity: 1;
  visibility: visible;
}

.scroll-top__icon {
  width: 50px;
  height: 50px;

  @media screen and (max-width: 425px) {
    width: 40px;
    height: 40px;
  }
}
